body {
    background-color: cadetblue;
}
.espaco{display: flex; justify-content: center;}
.mesa {
    border-radius: 150px;
    border: solid 5px black;
    margin: 30px 50px;
    background-color: aquamarine;
    width: 1200px;
    height: 500px;
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    margin: 150px;
}
.mesa-cima, .mesa-baixo{
    /* height: 150px; */
    position: relative;
    width: 100%;
    display: flex;
    /* flex-basis: 25%; */
}

.mesa-centro{
    height: 250px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}

button{
    border-radius: 50px;
    width: 200px;
    height: 150px;
    margin: 50px 0px;
    font-size: 50px;
    border: solid black 5px;
}

.timer{
    font-size: 50px;
    padding: 10px 0px;
    background-color: #EFEFEF;
    border: solid black 5px;
    border-radius: 50px;
}
.jogador{
    width: 25%;
    display: flex;
    justify-content: center;
}
img{
    filter: grayscale(90%);
    padding: 20px;
}

.timer{
    font-size: 100px;
    padding: 60px;
}