body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.game-screen{
    width: 1200px;
    height: 1000px;
    background-color: cadetblue;
    margin: 50px;
    border: solid 5px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.game-menu{
    display: flex; 
    justify-content: center;
    margin: 50px;
}
.btn-newgame{
    width: 150px;
    height: 75px;
    border-radius: 15px;
}
form > * {
    margin: 5px 5px;
}
label{text-align: center;}
input{text-align: center;}
.numberOfPlayers{
    display: flex;
    justify-content: center;
}

.list-of-players{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#time{
    width: 100px;
}
.timeInSeconds{
    display: flex;
    justify-content: center;
}
/* 
.list-of-players > *{
    width: 50%;
} */